<!-- 
<div class="contianer">
    <div class="google-logo" style="font-size: 24px; color: #4285F4; font-weight: bold;">G<span style="color: #EA4335;">o</span><span style="color: #FBBC05;">o</span><span style="color: #4285F4;">g</span><span style="color: #34A853;">l</span><span style="color: #EA4335;">e</span></div>

<h2>Reset your password</h2>
<P>create a strong password for your account. </P>
<form [formGroup]="resetForm" (ngSubmit)="onReset()">
    <div class="inputs">
        <div>

        <mat-form-field appearance="outline" class ="labelinput">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="Enter Password" formControlName="confirmPassword">   
          </mat-form-field>
        </div>
        <p>*password should contain atleast 8 charaters</p>
        <div>
            <mat-form-field appearance="outline" class ="labelinput">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Re-Enter password">   
              </mat-form-field>
        </div>
          
    </div>
    <div class="forgot">
        <button routerLink="/login">Return to login</button>
        <input type="submit"name="Sign-in"value="Save password">
    </div>
    
   
</form>

</div> -->