.coianter
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid rgb(192, 41, 41);
    border-radius: 10px;
}
.labelinput{
    width: 95%;
    height: 20%;
}
.test
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid rgb(192, 41, 41);
    border-radius: 10px;
}

.con
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid rgb(192, 41, 41);
    border-radius: 10px;
}