<div class="coianter">
    <div class="mat-toolbar-row-col2">
        <input matInput placeholder="Search" type="text">
        <button mat-icon-button  matTooltip="refresh">
            <img src="../../assets/search.svg" alt="">
        </button>
    
    <div>
        <mat-nav-list>
           
            <a mat-list-item ><img class="side-image" src="../../assets/notes.svg"><label class="labe">Notes</label></a>
            <a mat-list-item><img class="side-image" src="../../assets/notifications.svg"><label class="labe">Reminders</label></a>
            <a mat-list-item ><img class="side-image" src="../../assets/edit.svg"><label class="labe">Edit labels</label></a>
            <a mat-list-item ><img class="side-image" src="../../assets/archive.svg"><label class="labe">Archive</label></a>
            <a mat-list-item><img  class="side-image" src="../../assets/trash.svg"><label class="labe" >Trash</label></a>
            </mat-nav-list>
    </div>
    </div>
    
</div>
