<div class="body">
    <div class="container">
        <div class=""row>
            <div class="head">
                <div class="head-arrange">
                     <mat-icon><span class="material-symbols-outlined">
                        arrow_back_ios
                        </span></mat-icon>
                    <h1>Contacts</h1>

                </div>
                <div>
                    <input type="search" style="width: 400px; height: 25px; border-radius: 20px;" class="material-symbols-outlined" placeholder="search Contacts">
                        
                        
                </div>
                <mat-nav-list>
           
                    <!-- <a mat-list-item ><mat-icon> circle </mat-icon><label class="labe">Jayanth</label></a> -->
                    <a mat-list-item><img class="side-image" src="../../assets/profile.svg"><label class="labe">Jayanth</label></a>
                    <a mat-list-item><img class="side-image" src="../../assets/profile.svg"><label class="labe">somesh</label></a>
                    <a mat-list-item ><img class="side-image" src="../../assets/profile.svg"><label class="labe">ramesh</label></a>
                    <a mat-list-item ><img class="side-image" src="../../assets/profile.svg"><label class="labe">suresh</label></a>
                    <a mat-list-item><img  class="side-image" src="../../assets/profile.svg"><label class="labe" >rajesh</label></a>
                    </mat-nav-list>
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="row">
            <div class="head">
                <div class="head-arrange">
                    <mat-icon><span class="material-symbols-outlined">
                        arrow_back_ios
                        </span></mat-icon>
                    <h1>Chat</h1>

                </div>
                <div class="message1">
                    <div class="message11">
                        <p class="message-block">Hello</p>
                         <mat-icon><span class="material-symbols-outlined">
                            <span class="material-symbols-outlined">
                                circle
                                </span>
                            </span></mat-icon> 
                    </div>
                </div>
                <div class="message2">
                    <div class="message22">
                         <mat-icon><span class="material-symbols-outlined">
                            <span class="material-symbols-outlined1">
                                circle
                                </span>
                            </span></mat-icon> 
                        <p class="message-block">Tempor</p>
                        
                    </div>

                </div>
                <div class="message4">
                    <div class="message11">
                        <p class="message-block">Something good</p>
                         <mat-icon><span class="material-symbols-outlined">
                            <span class="material-symbols-outlined">
                                circle
                                </span>
                            </span></mat-icon>
                    </div> 
                </div>
                <div class="message3">
                    <div class="message11">
                        <p class="message-block">Nice to meet yyou</p>
                         <mat-icon><span class="material-symbols-outlined">
                            <span class="material-symbols-outlined">
                                circle
                                </span>
                            </span></mat-icon> 
                    </div>
                </div>
                <div class="message2">
                    <div class="message22">
                         <mat-icon><span class="material-symbols-outlined">
                            <span class="material-symbols-outlined1">
                                circle
                                </span>
                            </span></mat-icon>
                        <p class="message-block">Welcome</p>
                        
                    </div>

                </div>
                <div class="message3">
                    <div class="message11">
                        <p class="message-block">Success</p>
                         <mat-icon><span class="material-symbols-outlined">
                            <span class="material-symbols-outlined">
                                circle
                                </span>
                            </span></mat-icon> 
                    </div>
                </div>
                <div class="message2">
                    <div class="message22">
                         <mat-icon><span class="material-symbols-outlined">
                            <span class="material-symbols-outlined1">
                                circle
                                </span>
                            </span></mat-icon> 
                        <p class="message-block">Ok</p>
                        
                    </div>

                </div>
                <div class="end">
                    <div class="end1">
                         <mat-icon><span class="material-symbols-outlined">
                            <span class="material-symbols-outlined1" >
                                add
                                </span>
                            </span></mat-icon> 
                            <input type="text" placeholder="Type here"         style="width: 200px; border-radius: 10px;height:40px; padding-top: 10px;margin-top: 10px;margin-right: 40px;margin-left: 30px;">
                            <mat-icon><span class="material-symbols-outlined">
                                <span class="material-symbols-outlined2">
                                    send
                                    </span>
                                </span></mat-icon> 
                    </div>
                </div>
            </div>

</div>