
<div class="icons">
    <button mat-icon-button matTooltip="Reming me"><img src="../../assets/notifications.svg"></button>
    <button mat-icon-button matTooltip="Collaborator"><img src="../../assets/persion.svg"></button>
    <button mat-icon-button matTooltip="Add color" [matMenuTriggerFor]="paletteMenu"><img src="../../assets/paint.svg"></button>
    <button mat-icon-button matTooltip="Add image"><img src="../../assets/add-image.svg"></button>
    <button mat-icon-button matTooltip="Archive" (click)="onArchive()"><img src="../../assets/archive.svg"></button>
    <button mat-icon-button matTooltip="More"  [matMenuTriggerFor]="moreMenu"><img src="../../assets/more.svg"></button>
    <!-- <button mat-button [matMenuTriggerFor]="matMenu"><img src="../../assets/more.svg"></button> -->
     <mat-menu #moreMenu="matMenu" xPosition="before">
        <button mat-menu-item  (click)="onDelete()">Delete Notes</button>
        <button mat-menu-item >Add label</button>
        <button mat-menu-item >Add a drawing</button>
        <button mat-menu-item >Make a copy</button>
        <button mat-menu-item >Show checkboxes</button>
    </mat-menu> 
    <mat-menu #paletteMenu="matMenu" xPosition="before" id="colorpalette" class="test2">
        <div *ngFor='let colors of colorArray'>
            <button class="colorIcon" [style.background]="colors.code" (click)="selectcolor(colors)" >
                <span class="colorName">{{ colors.name }}</span>
            </button>
    
        </div>
    
    </mat-menu>
</div>