.card-container {
    padding-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .card {
    width: calc(33.33% - 20px); /* Adjust the width of each card as needed */
    margin-bottom: 20px; /* Add margin between cards */
    border-radius: 25px;
    margin-right: 10px;
  }  
  .title {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }