
<div class="contianer">
    <div class="google-logo" style="font-size: 24px; color: #4285F4; font-weight: bold;">G<span style="color: #EA4335;">o</span><span style="color: #FBBC05;">o</span><span style="color: #4285F4;">g</span><span style="color: #34A853;">l</span><span style="color: #EA4335;">e</span></div>

<h2 >Find your email</h2>
<P>Enter your email for recovery </P>
    <form [formGroup]="forgotForm" (ngSubmit)="onForgot()">
        <div class="inputs">
            <mat-form-field appearance="outline" class ="labelinput">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" formControlName="Email">   
              </mat-form-field>
              <input type="submit"name="Next"value="Next">
        </div>
        
    </form>
</div>
